# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

.env

# CI/CD and debug files
*.json
!package.json
!pnpm-lock.yaml

# Local data and tokens
*.pkl
*.env
*.env.local
FIT_OUT/
data/FIT_OUT/

# Output files
*.log
output.txt
run_page/output.txt
